button.btn-success {
    border: none;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: #22bd22;
}
button.btn-delete {
    border: none;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: red;
}
.main-todo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form.ng-untouched.ng-pristine.ng-invalid {
    display: flex;
    flex-direction: column;
    
}
input[type="text"] {
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    border-color: #20202738;
}
button {
    padding: 5px;
    color: white;
    background-color: #3636ecd4;
}
li {
    list-style: none;
}
label {
    text-align: center;
}
form.ng-untouched.ng-pristine.ng-invalid {
    margin-top: 40px;
}